.frame-card {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 0px 40px 30px 40px;
  gap: 30px;
  margin: 0px auto;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.div-center {
  margin: 0px auto 0px auto;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
  height: 400px;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card-overlay {
  transform: translateY(0);
}

.card-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card-arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card-arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header {
  transform: translateY(0);
}

.card-thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card-tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card-status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card-description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.swiper-container {
  width: 1280px;
  height: 300px;
}

@media screen and (max-width: 576px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-container {
    width: 768px;
  }
}

.test-container {
  height: 300px;
  padding: 60px 60px 0px 60px;
}
